<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first_name</title>
    <style>
        body
        {
            background: black;
        }
        h1
        {
            color: rgb(76, 73, 232);
        }
        a
        {
            color: aliceblue;
        }
    </style>
</head>
<body>
    <center>
        <h1>
            This Is First Name Page
        </h1>
        <h1>
            My First Name is {{fn}}
        </h1>
        <h1>
            If You Want Goto last Name
        </h1>
        <a href="{% url 'last' %}">Click Here</a>
    </center>
</body>
</html>